<!-- footer Section -->
<footer class="w-full p-8">
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-4">
    <!-- first column -->
    <div class="flex flex-col mb-8 lg:mb-0 lg:col-span-1">
      <h3 class="text-xl text-black">Address</h3>
      <p class="text-black font-bold mt-2">
        1156 Chapel St, New Haven, CT 06511, USA
      </p>
    </div>
    <!-- second column -->
    <div class="flex flex-col mb-8 lg:mb-0 lg:col-span-1">
      <h3 class="text-xl text-black">Menu</h3>
      <ul class="mt-2 space-y-1">
        <li>
          <a href="#" class="text-black font-bold hover:underline">Home</a>
        </li>
        <li>
          <a href="#" class="text-black font-bold hover:underline">About Us</a>
        </li>
        <li>
          <a href="#" class="text-black font-bold hover:underline">Programs</a>
        </li>
        <li>
          <a href="#" class="text-black font-bold hover:underline">Calendar</a>
        </li>
        <li>
          <a href="#" class="text-black font-bold hover:underline">Contact</a>
        </li>
      </ul>
    </div>
    <!-- third column-->
    <div class="flex flex-col mb-8 lg:mb-0 lg:col-span-1">
      <h3 class="text-xl text-black">Social Media</h3>
      <ul class="mt-2 space-y-1">
        <li>
          <a href="#" class="text-black font-bold hover:underline">Facebook</a>
        </li>
        <li>
          <a href="#" class="text-black font-bold hover:underline">Twitter</a>
        </li>
        <li>
          <a href="#" class="text-black font-bold hover:underline">Instagram</a>
        </li>
        <li>
          <a href="#" class="text-black font-bold hover:underline">LinkedIn</a>
        </li>
      </ul>
    </div>
    <!-- fourth column -->
    <div class="flex flex-col mb-8 lg:mb-0 lg:col-span-1">
      <h3 class="text-xl">Get in Touch</h3>
      <p class="mt-2 text-5xl underline">art.admissions&#64;yale.edu</p>
    </div>
  </div>
</footer>
