<app-navbar></app-navbar>
<app-hero></app-hero>

<div class="border-b border-black"></div>
<!-- school image section -->
<app-mainimage></app-mainimage>
<div class="border-b border-black"></div>
<!-- about section -->
<app-aboutus></app-aboutus>
<!-- exhibition section -->
<div class="border-b border-black"></div>
<app-exhibition [exhibitions]="exhibitions"></app-exhibition>
<!-- calendar section -->
<div class="border-b border-black mt-8"></div>
<app-calendar [events]="events"></app-calendar>
<!-- footer section -->
<div class="border-b border-black"></div>
<app-footer></app-footer>
