<app-navbar></app-navbar>
<!-- hero section -->
<div
  class="flex flex-col items-center justify-center bg-white text-black p-16 text-center"
>
  <div class="flex items-center text-left mb-4">
    <span class="h-6 w-6 bg-black rounded-full mr-2"></span>
    <h2 class="text-6xl font-bold">
      YALE <br />
      School of Art
    </h2>
  </div>

  <div>
    <button
      class="bg-white text-black border border-black py-2 px-4 hover:bg-gray-100 transition duration-300"
    >
      Learn More
    </button>
    <button
      class="bg-white text-black border border-black py-2 px-4 hover:bg-gray-100 transition duration-300 ml-4"
    >
      Apply Now
    </button>
  </div>
</div>
<!-- seperator line -->
<div class="border-b border-black"></div>

<!-- school image section -->
<div class="w-full h-[calc(100vh-20rem)]">
  <img
    src="school-picture.png"
    alt="Yale School of Arts"
    class="w-full h-full object-cover"
  />
</div>
<!-- seperator -->
<div class="border-b border-black"></div>

<!-- about section -->
<h2 class="text-4xl font-bold mb-2 text-left w-full">About</h2>
<div class="border-b border-black w-full mb-4"></div>

<div
  class="about px-8 py-12 bg-gray-50 text-gray-800 flex flex-col md:flex-row items-center md:items-stretch"
>
  <!-- left column  -->
  <div
    class="md:w-1/2 flex flex-col justify-center items-start text-left mb-8 md:mb-0"
  >
    <h2 class="text-8xl font-bold mb-4">About Us</h2>
    <p class="text-lg">
      The mission of the Yale School of Art is to provide students with
      intellectually informed, hands-on instruction in the practice of an array
      of visual arts media within the context of a liberal arts university. As a
      part of the first institution of higher learning to successfully integrate
      a studio-based education into such a broad pedagogical framework, the Yale
      School of Art has a long and distinguished history of training artists of
      the highest caliber. A full-time faculty of working artists in conjunction
      with a diverse cross-section of accomplished visiting artists collaborate
      to design a program and foster an environment where the unique talents and
      perspectives of individual students can emerge and flourish.
    </p>
  </div>

  <!-- right column -->
  <div class="md:w-1/2">
    <img
      src="school-picture2.jpg"
      alt="Yale School of Art"
      class="w-full h-full object-cover"
    />
  </div>
</div>
<!-- seperator line -->
<div class="border-b border-black"></div>
<app-exhibition [exhibitions]="exhibitions"></app-exhibition>
<!-- seperator line -->
<div class="border-b border-black mt-8"></div>

<app-calendar [events]="events"></app-calendar>
<!-- separator line -->
<div class="border-b border-black"></div>
<app-footer></app-footer>
