<!-- nav container -->
<div class="bg-white">
  <!-- separator line-->
  <div class="border-b border-black"></div>
  <!-- nav bar -->
  <nav
    class="flex justify-between items-center bg-white p-4 text-black text-lg"
  >
    <ul class="flex space-x-6">
      <li><a href="#" class="hover:underline">home</a></li>
      <li><a href="#" class="hover:underline">about</a></li>
      <li><a href="#" class="hover:underline">news</a></li>
      <li><a href="#" class="hover:underline">events</a></li>
      <li><a href="#" class="hover:underline">publications</a></li>
    </ul>
  </nav>
  <div class="border-b border-black"></div>
</div>
<!-- hero section -->
<div
  class="flex flex-col items-center justify-center bg-white text-black p-16 text-center"
>
  <div class="flex items-center text-left mb-4">
    <span class="h-6 w-6 bg-black rounded-full mr-2"></span>
    <h2 class="text-6xl font-bold">
      YALE <br />
      School of Art
    </h2>
  </div>

  <div>
    <button
      class="bg-white text-black border border-black py-2 px-4 hover:bg-gray-100 transition duration-300"
    >
      Learn More
    </button>
    <button
      class="bg-white text-black border border-black py-2 px-4 hover:bg-gray-100 transition duration-300 ml-4"
    >
      Apply Now
    </button>
  </div>
</div>
<!-- seperator line -->
<div class="border-b border-black"></div>

<!-- school image section -->
<div class="w-full h-[calc(100vh-20rem)]">
  <img
    src="school-picture.png"
    alt="Yale School of Arts"
    class="w-full h-full object-cover"
  />
</div>
<!-- seperator -->
<div class="border-b border-black"></div>
