<!-- nav container -->
<div class="bg-white">
  <!-- separator line-->
  <div class="border-b border-black"></div>
  <!-- nav bar -->
  <nav
    class="flex justify-between items-center bg-white p-4 text-black text-lg"
  >
    <ul class="flex space-x-6">
      <li><a href="#" class="hover:underline">home</a></li>
      <li><a href="#" class="hover:underline">about</a></li>
      <li><a href="#" class="hover:underline">news</a></li>
      <li><a href="#" class="hover:underline">events</a></li>
      <li><a href="#" class="hover:underline">publications</a></li>
    </ul>
  </nav>
  <div class="border-b border-black"></div>
</div>
